<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
	<appSettings>
		<add key="InputDirectory" value="D:\waiting_compressed_videos"/>
		<add key="OutputDirectory" value="D:\already_compressed_videos"/>
		<add key="vcodec" value="hevc_qsv"/>
		<add key="ffmpegPath" value="D:\ffmpeg-master-latest-win64-gpl\bin\ffmpeg.exe"/>
		<add key="ArchiveDirectory" value="C:\Archive"/>
	</appSettings>
</configuration>